.footer {
    background-color: $primary-gray-color;
}
.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.address-container {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }   
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer-list {
    margin-top: 20px;
   
}

.footer-item{

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.footer-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    &:hover, 
    &:focus{
        color: $primary-white-color;
        @extend %transition;
    }
}

.footer-networks__title {
    color: $primary-white-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.footer-networks__list {
    display: flex;
    
}

.footer-form {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    } 
    
    @media screen and (min-width: 768px) {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;  
    }
}

.footer-form__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    display: inline-block;
    color: $primary-white-color;
}

.footer-form__input {
    width: 100%;
    height: 50px;
    padding: 16px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgba(47, 48, 58, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;

    &:hover, &:focus{
        border-color: $primary-blue-color;
        outline: none;
        @extend %transition;
    }
    @media screen and (min-width: 768px){
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
    }    
}

.footer-form__icon {
    margin-left: 10px;
}

.footer-form__button {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
    background-color: $primary-blue-color;
    color: $primary-white-color;
    padding: 10px 28px;

    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-div{
 
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}