.logo {
    color: $primary-blue-color;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

    margin-right: 93px;
    @extend %link;
}
.logo span {
    color: #000;
}
.logo-footer span {
    color: $primary-white-color;
}