.logo {
    color: $primary-blue-color;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    @extend %link;

    @media screen and (min-width: 1200px){
        font-size: 26px;
        line-height: 1.2;
    }
}
.logo span {
    color: #000;
}
.logo-footer span {
    color: $primary-white-color;
}