.button-container {
    text-align: center;
}
.card-container{
    width: 1230px;
    margin: 0px auto;
    padding: 94px 15px 94px 15px;
}
.card-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    text-align: center;
    letter-spacing: .03em;
    background: $primary-backgraund-color;
    border-radius: 4px;
    color: $primary-black-color;
    cursor: pointer;
    max-width: 130px;
    border: 0;

    margin-bottom: 50px;

    &:hover, &:focus{
        color: $primary-white-color;
        background-color: $primary-blue-color;
        @extend %transition;
    }
}


.card-button.current {
    background-color: $primary-blue-color;
    color: $primary-white-color;
}

.card-set__list {
    display: flex;
    flex-wrap: wrap;
    @extend %list;
}

.card-set__item {
    width: 370px;
    border: 1px solid #eee;
    margin-right: 30px;

    position: relative;

    &:nth-child(3n+3) {
            margin-right: 0px;
        }

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

}

.card-set__item {
    margin-bottom: 30px;

    :hover .card-overlay__container {
        transform: translateY(0);
        background-color: rgba(33, 150, 243, 0.9);
        @extend %transition;
        }
}

.card-set__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;

    margin-top: 20px;
    padding: 0px 24px 0px 24px;
}

.card-set__group {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;

    margin-bottom: 20px;
    padding: 0px 24px 0px 24px;
}

.card-overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-overlay__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

    padding: 49px 24px 77px 24px;
    color: $primary-white-color;
}

.card-overlay__container {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 74%;
    opacity: 1;
    transform: translateY(370px);
}