.social-networks {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.social-networks__link {
    width: 44px;
    height: 44px;


    @extend %flex;
    @extend %link;

    border-radius:50px;
    background-color: $primary-white-color;
    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        background-color: $primary-blue-color;
        @extend %transition;
    }
}

.social-networks__link{
    &:hover .social-networks__icon {
    fill: $primary-white-color;
    @extend %transition;
    }
}

.social-networks__icon {
    fill: rgba(175, 177, 184, 1);

}
.social-networks--footer {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-networks{
    @media screen and (min-width: 768px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}