.teams-section {
    text-align: center;
    background-color: $primary-backgraund-color;
}

.teams-section__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.teams-section__item {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .12), 0px 4px 4px rgba(0, 0, 0, .06), 1px 4px 6px rgba(0, 0, 0, .16);
    border-radius: 0px 0px 4px 4px;
    background-color: $primary-white-color;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 4);
    }
}

.teams-section__name {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;

    margin-top: 30px;
    margin-bottom: 10px;
}

.teams-section__profession {
    color: $primary-text-color;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.48px;

    margin-bottom: 16px;
}

.team-section__image {
    width: 100%;
}