.work-section{
    padding-bottom: 94px;
}
.work-container {
    @extend %container;
}
.work-section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-align: center;

    margin-bottom: 50px;
}

.work-section__list {
    display: flex;
    @extend %list;
}

.work-section__item{
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work-section__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14px;
    
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(47, 48, 58, 0.8);

    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 70px;

    @extend %flex;
}