html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin-left: 0;
    margin-right: 0;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p{
    margin: 0;
    padding: 0;
}

body.modal-open {
    overflow: hidden;
}

body.menu-open {
    overflow: hidden;
}

img {
    display: block;
}

.section {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

}
.section-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.167;
        margin: 0 0 50px 0;
    }
}