$primary-white-color:#FFF;
$primary-blue-color: #2196F3;
$primary-black-color: #212121;
$primary-text-color: #757575;
$primary-backgraund-color:#F5F4FA;
$primary-gray-color:#2F303A;
$primary-transperent-color: rgba(0, 0, 0, 0.2);